.container.top-padding-med.bottom-padding-med(ng-controller="mvAnalysisCtrl")
    div.col-lg-4
        button.btn.btn-warning.btn-lg.outline.btn-block January (${{yearly.January}})
        button.btn.btn-warning.btn-lg.outline.btn-block Feburary (${{yearly.Feburary}})
        button.btn.btn-warning.btn-lg.outline.btn-block March (${{yearly.March}})
        button.btn.btn-warning.btn-lg.outline.btn-block April (${{yearly.April}})
    div.col-lg-4
        button.btn.btn-warning.btn-lg.outline.btn-block May (${{yearly.May}})
        button.btn.btn-warning.btn-lg.outline.btn-block June (${{yearly.June}})
        button.btn.btn-warning.btn-lg.outline.btn-block July (${{yearly.July}})
        button.btn.btn-warning.btn-lg.outline.btn-block August (${{yearly.August}})
    div.col-lg-4
        button.btn.btn-warning.btn-lg.outline.btn-block September (${{yearly.September}})
        button.btn.btn-warning.btn-lg.outline.btn-block October (${{yearly.October}})
        button.btn.btn-warning.btn-lg.outline.btn-block November (${{yearly.November}})
        button.btn.btn-warning.btn-lg.outline.btn-block December (${{yearly.December}})
        